<html>
<head>
    <title>About</title>
<link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
<div class="main-content">
 {{>header}}
 <p>This application uses <i>weatherstack.com</i> and <i>mapbox.com</i> to get the weather information.</p>
 <img src="/img/me.png" alt="Creater Pic not found">  
 </div> 
  {{>footer}}
</body>
</html>